# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Database & Data ---
db.sqlite3
db.sqlite3-journal

# --- Pengaturan Pribadi & Rahasia (Sangat Penting) ---
.env
.vscode/
.idea/
*.log

# --- File Sistem Operasi ---
.DS_Store
Thumbs.db